.posicaoTitulo{
    padding: 15px;
    height: 40px;
    width: 40%;
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 20px 0;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: black;
    z-index: 1;
}
@media (max-width: 1200px) {
    .posicaoTitulo{
        width: 100%;
    }
}
.titulo{
    text-align: center;
    justify-content: center;
    justify-items: baseline;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 35px;
}
