.posicaoTitulo{
    /* position: relative; */
    /* top: 0px; */
    /* left: 0px; */
    /* display: block; */
    padding: 15px;
    height: 40px;
    width: 40%;
    /* position: absolute; */
    /* justify-content: start; */
    /* text-align: start; */
    /* align-items: start; */
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
    /* border: 5px solid red; */
    border-radius: 0 0 20px 0;
    /* border: 2px solid; */
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: black;
    z-index: 1;
}
@media (max-width: 1120px) {
    .posicaoTitulo{
        width: 100%;
    }
}
.titulo{
    /* position: relative; */
    text-align: center;
    justify-content: center;
    justify-items: baseline;
    /* z-index: 1; */
    font-family: 'Press Start 2P', sans-serif;
    font-size: 35px;
    /* background-color: red; */
}
