@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.fundo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: inline-block;
    justify-content: center;
    bottom: 0;
}

.base{
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 20%;
    position: absolute;
    transition: 0.3s;
}
@media (max-height: 600px) {
    .base{
        bottom: 12%;
    }
}

div .tabuleiro{
    margin-top: 0;
    height: 25rem;
    width: 25rem;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    border: solid 1px black;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 2.5);
    transition: 1.5s;
    display: flex;
}
@media (orientation: portrait) {
    .tabuleiro{
        margin-top: 15%;
        scale: 90%;
    }
}
@media (max-width: 1200px) {
    .tabuleiro{
        margin-top: 15%;
        scale: 90%;
    }
}
@media (max-height: 600px) {
    .tabuleiro{
        margin-top: 15%;
        scale: 80%;
    }
}
@media (max-height: 550px) {
    .tabuleiro{
        margin-top: 15%;
        scale: 60%;
    }
}

div .tabuleiro:hover{
    border: solid 1px white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 2.5);
}

.casaDoTabuleiro{
    position: relative;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 3px;
}
@media (orientation: portrait) {
    .casaDoTabuleiro{
        scale: 95%;
    }    
}

.celula{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex; 
    justify-content: center;
    align-items: end;
    font-size: 100px;
    color: black;
    font-weight: 700;
    cursor: pointer;
}
.celula:hover{
    scale: 102%;
    z-index: 1;
    border: 1px solid white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1);
    backdrop-filter: blur(1px);
}
@media (orientation: portrait) {
    .celula{
        scale: 97%;
    }    
}

.botoes{
    display: flex;
    bottom: 14%;
    left: 50%;
    position: absolute;
}
.reiniciar{
    color: white;
    align-items: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
    transition: 0.5s;
}
.reiniciar:hover{
    cursor: pointer;
    scale: 120%;
    transform: rotate(360deg);
    transform-origin: center;
}